In [1]:
file1=r"C:\Users\swadhin biswal\Desktop\happy data scientist\online projects\project2\train.csv"
file2=r"C:\Users\swadhin biswal\Desktop\happy data scientist\online projects\project2\test.csv"

In [2]:
import pandas as pd
import numpy as np

In [3]:
ld_train=pd.read_csv(file1)
ld_test=pd.read_csv(file2)

In [4]:
ld_train.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [5]:
ld_train["impression_time"].value_counts()

2018-12-04 00:01:00    46
2018-12-03 00:01:00    43
2018-12-04 00:03:00    43
2018-11-27 00:01:00    42
2018-12-02 00:10:00    42
2018-11-21 00:01:00    41
2018-12-02 00:01:00    41
2018-12-03 00:02:00    39
2018-12-03 00:08:00    38
2018-11-28 00:01:00    38
2018-12-01 00:03:00    37
2018-12-04 00:04:00    37
2018-12-02 00:03:00    37
2018-12-04 00:11:00    36
2018-12-04 00:02:00    34
2018-12-01 00:01:00    34
2018-12-02 00:05:00    33
2018-12-04 00:10:00    33
2018-12-02 00:04:00    33
2018-12-03 00:09:00    33
2018-12-04 00:06:00    33
2018-11-25 00:02:00    32
2018-12-06 00:03:00    32
2018-12-02 00:02:00    32
2018-12-03 00:03:00    32
2018-12-09 00:01:00    32
2018-11-28 00:03:00    31
2018-11-27 00:10:00    31
2018-12-03 00:06:00    31
2018-11-29 00:02:00    30
                       ..
2018-11-16 07:29:00     1
2018-12-09 19:32:00     1
2018-11-17 08:09:00     1
2018-11-25 06:36:00     1
2018-11-19 09:33:00     1
2018-11-22 02:06:00     1
2018-12-06 02:40:00     1
2018-11-22 04:17:00     1
2018-11-23 06:03:00     1
2018-12-07 05:30:00     1
2018-12-08 02:21:00     1
2018-11-17 05:55:00     1
2018-11-24 08:14:00     1
2018-11-19 12:10:00     1
2018-11-22 04:05:00     1
2018-12-13 06:31:00     1
2018-11-24 07:30:00     1
2018-11-19 01:50:00     1
2018-11-20 09:07:00     1
2018-12-02 03:42:00     1
2018-12-09 08:01:00     1
2018-11-16 04:51:00     1
2018-11-24 07:25:00     1
2018-11-23 01:42:00     1
2018-11-28 05:41:00     1
2018-12-07 09:23:00     1
2018-11-20 03:55:00     1
2018-11-18 07:18:00     1
2018-11-26 11:01:00     1
2018-12-01 03:20:00     1
Name: impression_time, Length: 36461, dtype: int64

In [6]:
ld_train.shape

(237609, 7)

In [7]:
ld_test.shape

(90675, 6)

In [8]:
ld_test.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G
0,a9e7126a585a69a32bc7414e9d0c0ada,2018-12-13 07:44:00,44754,127,latest,1
1,caac14a5bf2ba283db7708bb34855760,2018-12-13 07:45:00,29656,44,latest,0
2,13f10ba306a19ce7bec2f3cae507b698,2018-12-13 07:46:00,25234,296,latest,1
3,39c4b4dc0e9701b55a0a4f072008fb3f,2018-12-13 07:47:00,22988,207,latest,1
4,bf5a572cca75f5fc67f4b14e58b11d70,2018-12-13 07:48:00,35431,242,latest,1

In [9]:
ld_train["os_version"].value_counts()

latest          129216
intermediate     55543
old              52850
Name: os_version, dtype: int64

In [10]:
ld_train["data"]="train"
ld_test["data"]="test"
ld_test["is_click"]=np.nan

In [11]:
ld=pd.concat([ld_train,ld_test],axis=0)

C:\Users\swadhin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [12]:
ld.shape

(328284, 8)

In [13]:
ld["is_click"].value_counts(dropna=False)

 0.0    226747
NaN      90675
 1.0     10862
Name: is_click, dtype: int64

In [14]:
ld.isnull().sum()

app_code               0
data                   0
impression_id          0
impression_time        0
is_4G                  0
is_click           90675
os_version             0
user_id                0
dtype: int64

In [15]:
del ld["impression_id"]

In [16]:
del ld["user_id"]

In [17]:
ld.head()

   app_code   data      impression_time  is_4G  is_click    os_version
0       422  train  2018-11-15 00:00:00      0       0.0           old
1       467  train  2018-11-15 00:01:00      1       1.0        latest
2       259  train  2018-11-15 00:02:00      1       0.0  intermediate
3       244  train  2018-11-15 00:02:00      1       0.0        latest
4       473  train  2018-11-15 00:02:00      0       0.0        latest

In [18]:
os_version=ld["os_version"].value_counts().index[:-1]

In [19]:
for i in os_version:
    name="os_version" +"_"+i
    ld[name]=np.where(ld["os_version"]==i,1,0)

In [20]:
ld["os_version_latest"].value_counts()

1    178022
0    150262
Name: os_version_latest, dtype: int64

In [21]:
ld["os_version"].value_counts()

latest          178022
intermediate     76790
old              73472
Name: os_version, dtype: int64

In [22]:
ld.head()

,app_code,data,impression_time,is_4G,is_click,os_version,os_version_latest,os_version_intermediate
0,422,train,2018-11-15 00:00:00,0,0.0,old,0,0
1,467,train,2018-11-15 00:01:00,1,1.0,latest,1,0
2,259,train,2018-11-15 00:02:00,1,0.0,intermediate,0,1
3,244,train,2018-11-15 00:02:00,1,0.0,latest,1,0
4,473,train,2018-11-15 00:02:00,0,0.0,latest,1,0

In [23]:
del ld["os_version"]

In [24]:
ld.head()

,app_code,data,impression_time,is_4G,is_click,os_version_latest,os_version_intermediate
0,422,train,2018-11-15 00:00:00,0,0.0,0,0
1,467,train,2018-11-15 00:01:00,1,1.0,1,0
2,259,train,2018-11-15 00:02:00,1,0.0,0,1
3,244,train,2018-11-15 00:02:00,1,0.0,1,0
4,473,train,2018-11-15 00:02:00,0,0.0,1,0

In [25]:
ld["app_code"]=ld["app_code"].astype(str)

In [26]:
new=ld["app_code"].value_counts()[ld["app_code"].value_counts()>2000].index

In [27]:
for i in new:
    name="appcode"+"_"+i
    ld[name]=np.where(ld["app_code"]==i,1,0)

In [28]:
ld.dtypes

app_code                    object
data                        object
impression_time             object
is_4G                        int64
is_click                   float64
os_version_latest            int32
os_version_intermediate      int32
appcode_207                  int32
appcode_386                  int32
appcode_190                  int32
appcode_127                  int32
appcode_371                  int32
appcode_3                    int32
appcode_296                  int32
appcode_129                  int32
appcode_385                  int32
appcode_32                   int32
appcode_249                  int32
appcode_5                    int32
appcode_283                  int32
appcode_469                  int32
appcode_44                   int32
appcode_213                  int32
appcode_244                  int32
appcode_145                  int32
appcode_242                  int32
appcode_463                  int32
appcode_231                  int32
appcode_359                  int32
appcode_202                  int32
appcode_465                  int32
appcode_151                  int32
appcode_318                  int32
appcode_163                  int32
appcode_508                  int32
appcode_38                   int32
dtype: object

In [29]:
ld.head()

,app_code,data,impression_time,is_4G,is_click,os_version_latest,os_version_intermediate,appcode_207,appcode_386,appcode_190,...,appcode_463,appcode_231,appcode_359,appcode_202,appcode_465,appcode_151,appcode_318,appcode_163,appcode_508,appcode_38
0,422,train,2018-11-15 00:00:00,0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,467,train,2018-11-15 00:01:00,1,1.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,259,train,2018-11-15 00:02:00,1,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,244,train,2018-11-15 00:02:00,1,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,473,train,2018-11-15 00:02:00,0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
del ld["app_code"]

In [31]:
ld.head()

,data,impression_time,is_4G,is_click,os_version_latest,os_version_intermediate,appcode_207,appcode_386,appcode_190,appcode_127,...,appcode_463,appcode_231,appcode_359,appcode_202,appcode_465,appcode_151,appcode_318,appcode_163,appcode_508,appcode_38
0,train,2018-11-15 00:00:00,0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,train,2018-11-15 00:01:00,1,1.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,train,2018-11-15 00:02:00,1,0.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,train,2018-11-15 00:02:00,1,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,train,2018-11-15 00:02:00,0,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
ld["impression_time"]=pd.to_datetime(ld["impression_time"])

In [33]:
ld["hours"]=ld["impression_time"].dt.hour
ld["weekday"]=ld["impression_time"].dt.weekday
ld["day"]=ld["impression_time"].dt.day

In [34]:
del ld["impression_time"]

In [141]:
ld.drop(["hours","weekday","day"],axis=1,inplace=True)

In [35]:
ld.head()

,data,is_4G,is_click,os_version_latest,os_version_intermediate,appcode_207,appcode_386,appcode_190,appcode_127,appcode_371,...,appcode_202,appcode_465,appcode_151,appcode_318,appcode_163,appcode_508,appcode_38,hours,weekday,day
0,train,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,15
1,train,1,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,15
2,train,1,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,15
3,train,1,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,15
4,train,0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,15

In [36]:
ld["is_click"].value_counts(dropna=False)

 0.0    226747
NaN      90675
 1.0     10862
Name: is_click, dtype: int64

In [37]:
train=ld.loc[ld["data"]=="train",]
test=ld.loc[ld["data"]=="test",]

In [38]:
test.drop(["data","is_click"],axis=1,inplace=True)

C:\Users\swadhin\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [39]:
del train["data"]

In [40]:
test.shape

(90675, 35)

In [41]:
train.shape

(237609, 36)

In [42]:
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [43]:
train_train,train_val=train_test_split(train,test_size=.2,random_state=2)

In [44]:
x_train_train=train_train.drop(["is_click"],axis=1)
y_train_train=train_train["is_click"]
x_train_val=train_val.drop(["is_click"],axis=1)

In [181]:
params={"penalty":["l1","l2"],
       "C":np.linspace(.01,.99,99)}

In [45]:
lr=LogisticRegression(class_weight="balanced",penalty="l2")
lr.fit(x_train_train,y_train_train)

C:\Users\swadhin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [46]:
p=lr.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

0.6334039228271928

In [195]:
cutoff=np.linspace(.01,.99,99)
real=train_val["is_click"]
r_final=[]
for c in cutoff:
    predicted=(p>c).astype(int)
    r=roc_auc_score(real,predicted)
    r_final.append(r)

In [201]:
cutoff[r_final==max(r_final)]
max(r_final)

0.63447076507582

In [184]:
lr_rv.best_estimator_

LogisticRegression(C=0.35000000000000003, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l1', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [186]:
x_train=train.drop(["is_click"],axis=1)
y_train=train["is_click"]

In [187]:
lr=LogisticRegression(C=0.35000000000000003, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l1', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)
lr.fit(x_train,y_train)
p=lr.predict(test)

C:\Users\swadhin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [188]:
new=pd.DataFrame({"impression_id":ld_test["impression_id"],"is_click":p})

In [189]:
new.to_csv("test1.csv",index=False)

In [203]:
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier,GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [205]:
dtree=DecisionTreeClassifier()
params={"class_weight":["balanced",None],
       "max_depth":[10,15,20,30,40],
       "min_samples_split":[2,3,4,5,6],
       "min_samples_leaf":[1,2,3,4,5],
       "criterion":["entropy","gini"]}
dtree_rv=RandomizedSearchCV(dtree,param_distributions=params,cv=8,n_iter=150,scoring="roc_auc",verbose=1,n_jobs=-1)
dtree_rv.fit(x_train_train,y_train_train)

Fitting 8 folds for each of 150 candidates, totalling 1200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   34.0s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  8.6min
[Parallel(n_jobs=-1)]: Done 1200 out of 1200 | elapsed: 12.9min finished

RandomizedSearchCV(cv=8, error_score='raise-deprecating',
          estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          fit_params=None, iid='warn', n_iter=150, n_jobs=-1,
          param_distributions={'class_weight': ['balanced', None], 'max_depth': [10, 15, 20, 30, 40], 'min_samples_split': [2, 3, 4, 5, 6], 'min_samples_leaf': [1, 2, 3, 4, 5], 'criterion': ['entropy', 'gini']},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring='roc_auc', verbose=1)

In [206]:
p=dtree_rv.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

0.5001602371756831

In [207]:
dtree_rv.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=20,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=5,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [218]:
dtree=DecisionTreeClassifier(class_weight="balanced",max_depth=15,min_samples_split=3,min_samples_leaf=5)
params={"max_features":[10,15,20,25,30]}
dtree_gv=GridSearchCV(dtree,param_grid=params,cv=8,scoring="roc_auc",verbose=1,n_jobs=-1)
dtree_gv.fit(x_train_train,y_train_train)
p=dtree_gv.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

Fitting 8 folds for each of 5 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   22.9s finished

0.6272580595521521

In [219]:
dtree=DecisionTreeClassifier(class_weight="balanced",max_depth=15,min_samples_split=3,min_samples_leaf=5)
dtree.fit(x_train_train,y_train_train)
p=dtree.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

0.630130603278388

In [220]:
p=dtree.predict_proba(x_train_val)[:,1]
roc_auc_score(train_val["is_click"],p)

0.6596030041152414

In [221]:
cutoff=np.linspace(.01,.99,99)
real=train_val["is_click"]
r_final=[]
for c in cutoff:
    predicted=(p>c).astype(int)
    r=roc_auc_score(real,predicted)
    r_final.append(r)

In [223]:
cutoff[r_final==max(r_final)]

array([0.51])

In [226]:
dtree=DecisionTreeClassifier(class_weight="balanced",max_depth=15,min_samples_split=3,min_samples_leaf=5)
dtree.fit(x_train,y_train)
p=dtree.predict_proba(test)[:,1]

In [227]:
p=(p>.51).astype(int)
new=pd.DataFrame({"impression_id":ld_test["impression_id"],"is_click":p})
new.to_csv("test1.csv",index=False)

# Random forest

In [230]:
rf=RandomForestClassifier(class_weight="balanced")
rf.fit(x_train_train,y_train_train)
p=rf.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

C:\Users\swadhin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.6033550997626121

In [283]:
rf=RandomForestClassifier(class_weight="balanced",bootstrap=False,n_estimators=300,min_samples_leaf=6,
                         criterion='entropy' ,max_features=10,min_samples_split=4)
params={"max_depth":[10,15,20,25,30]}
rf_rv=GridSearchCV(rf,param_grid=params,cv=5,scoring="roc_auc",verbose=1,n_jobs=-1)
rf_rv.fit(x_train_train,y_train_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed: 45.9min finished

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=False, class_weight='balanced',
            criterion='entropy', max_depth=None, max_features=10,
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=6,
            min_samples_split=4, min_weight_fraction_leaf=0.0,
            n_estimators=300, n_jobs=None, oob_score=False,
            random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'max_depth': [10, 15, 20, 25, 30]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=1)

In [287]:
p=rf_rv.predict_proba(x_train_val)[:,1]
roc_auc_score(train_val["is_click"],p)

0.6771200531553101

In [285]:
rf_rv.best_estimator_

RandomForestClassifier(bootstrap=False, class_weight='balanced',
            criterion='entropy', max_depth=10, max_features=10,
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=6,
            min_samples_split=4, min_weight_fraction_leaf=0.0,
            n_estimators=300, n_jobs=None, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [288]:
cutoff=np.linspace(.01,.99,99)
real=train_val["is_click"]
r_final=[]
for c in cutoff:
    predicted=(p>c).astype(int)
    r=roc_auc_score(real,predicted)
    r_final.append(r)

In [290]:
cutoff[r_final==max(r_final)]

array([0.52])

In [291]:
rf=RandomForestClassifier(class_weight="balanced",bootstrap=False,n_estimators=300,min_samples_leaf=6,
                         criterion='entropy' ,max_features=10,min_samples_split=4,max_depth=10)
dtree.fit(x_train,y_train)
p=dtree.predict_proba(test)[:,1]

In [293]:
p=(p>.52).astype(int)
new=pd.DataFrame({"impression_id":ld_test["impression_id"],"is_click":p})
new.to_csv("test1.csv",index=False)

# Boosting machines

In [294]:
gb=GradientBoostingClassifier()
gb.fit(x_train_train,y_train_train)
p=gb.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

0.5

In [77]:
from xgboost.sklearn import XGBClassifier

In [86]:
xg=XGBClassifier(scale_pos_weight=22,n_estimators=200,colsample_bytree=0.6,
                colsample_bynode=0.7,colsample_bylevel=0.5,objective='binary:logistic',
                subsample=0.5)
params={"reg_alpha":[0,.2,.4,.6,.8,1],
       "reg_lambda":[0,.2,.4,.6,.8,1],
       "gamma":[0,.2,.4,.6,.8,1]}
xg_gv=RandomizedSearchCV(xg,param_distributions=params,cv=5,scoring="roc_auc",verbose=1,n_jobs=-1,n_iter=150)
xg_gv.fit(x_train_train,y_train_train)
p=xg_gv.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

Fitting 5 folds for each of 150 candidates, totalling 750 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed: 30.5min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed: 65.9min
[Parallel(n_jobs=-1)]: Done 750 out of 750 | elapsed: 106.1min finished

0.6385194212462707

In [84]:
xg_gv.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=0.5,
       colsample_bynode=0.7, colsample_bytree=0.6, gamma=0,
       learning_rate=0.05, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=None, n_estimators=200, n_jobs=1,
       nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=22, seed=None,
       silent=None, subsample=0.5, verbosity=1)

In [87]:
cutoff=np.linspace(.01,.99,99)
real=train_val["is_click"]
r_final=[]
for c in cutoff:
    predicted=(p>c).astype(int)
    r=roc_auc_score(real,predicted)
    r_final.append(r)

In [88]:
max(r_final)

0.6385194212462707

# svm

In [47]:
from sklearn.svm import SVC

In [ ]:
sv=SVC(class_weight="balanced")
sv.fit(x_train_train,y_train_train)
p=sv.predict(x_train_val)
roc_auc_score(train_val["is_click"],p)

In [ ]:
test_list = [[1, 4, 5], [4, 6, 8], [8, 3, 10]]   

res = list(zip(*test_list))